/**
 * simplepodcast html item styles
 */

/**
 * Node page view specific styles.
 */

div.simple-podcast-item .podcast-item-title {
  position: absolute;
  visibility: hidden;
}

li.simple-podcast-item {
  clear: both;
  float: none;
}

li.simple-podcast-item .podcast-cover-art figure img {
  height: 150px;
  width: 150px;
}

li.simple-podcast-item .podcast-cover-art {
  float: left;
  text-align: left;
}

.simple-podcast-item {
  width: 100%;
}

.simple-podcast-item dt {
  position: absolute;
  visibility: hidden;
}

.simple-podcast-item dd.podcast-cover-art figcaption {
  position: absolute;
  visibility: hidden;
}

.simple-podcast-item dd.podcast-item-subtitle h5 {
  text-transform: none;
}

.simple-podcast-item figure, .podcast-cover-art figure {
    margin: 0 0 1em 1em;
}

.podcast-children .simple-podcast-item figure {
    margin: 0 1em 1em 0;
}
li.simple-podcast-item .podcast-cover-art {
    width:150px;
    margin-right:2em;
    display:inline-block;
}
.podcast-children .simple-podcast-item header {
    display:inline-block;
    width:60%;
    min-width:540px;
}
.podcast-children .simple-podcast-item header dl {
    padding-right:2em;
}
.simple-podcast-item .podcast-cover-art img {
    width:100%;
    height:auto;
}
.podcast-item-file {
    display:inline-block;
}

.podcast-item-file {
    text-align:justify;
    vertical-align:top;
    width:40%;
    /* fix for inline-block random space in */
    margin-left:-.30em;
}
.podcast-item-file:after {
    content: " ";
    width: 100%;
    display: inline-block;
    line-height:0;
    height:0;
}
.podcast-item-file audio, .podcast-item-file video {
    min-width:300px;
    width:100%;
    min-height:30px;
    margin:0 1em .25em 0;
}
.podcast-item-file-download {
    display:inline-block; width:auto;
}

.podcast-item-transcript {
    display:inline-block;
}

.podcast-item-title { display:inline-block; margin-bottom:.75em; }
