/**
 * simplepodcast html list styles
 */

/**
 * Node page view specific styles.
 */

.simple-podcast-feed dt {
    position: absolute;
    visibility: hidden;
}

.simple-podcast-feed dd.podcast-cover-art figcaption {
    position: absolute;
    visibility: hidden;
}

.simple-podcast-feed dd.podcast-title {
    position: absolute;
    visibility: hidden;
}

.simple-podcast-feed dd.podcast-subscribe dt,
.simple-podcast-feed dd.podcast-subscribe dd {
    display: inline;
    margin-right: 10px;
}

.simple-podcast-feed dd.podcast-subtitle h2 {
    text-transform: none;
}

.simple-podcast-feed dd.podcast-owner dt {
    position: static;
    visibility: visible;
}

.simple-podcast-feed dd.podcast-owner dt,
.simple-podcast-feed dd.podcast-owner dd.podcast-owner-name,
.simple-podcast-feed dd.podcast-owner dd.podcast-owner-name dl,
.simple-podcast-feed dd.podcast-owner dd.podcast-owner-name dd {
    display: inline;
}

.simple-podcast-feed dd.podcast-owner dd dt,
.simple-podcast-feed dd.podcast-owner dd.podcast-owner-email {
    position: absolute;
    visibility: hidden;
}

.podcast-categories, .podcast-item-categories {
    float:right;
}
.podcast-cover-art figure img {
    height: auto;
    width: 100%;
}
.podcast-categories dd, .podcast-item-category {
    background-color:#C6C6C6;
    padding: 1px 5px;
    border-radius: 5px;
    display:inline-block;
}

.podcast-children .podcast-item-cover-art, .podcast-cover-art {
    width:100%;
}
.podcast-item-cover-art, .podcast-cover-art {
    max-width: 300px;
    float:right;
}
.podcast-children .podcast-item-cover-art {
    max-width: 150px;
    float:left;
}
.podcast-children .simple-podcast-item figure img {
    width:100%;
}

.podcast-children li {
    border-top: 1px solid #E6E6E6;
    padding: 18px 0 0 0;
}
.podcast-children li:last-child {
    border-bottom: 1px solid #E6E6E6;
}
